/* MYSTLE.CSS 

Includes custom style rules. */


/* Cover-One -> First row */ 


#cover-one { 
    color: #fff; 
    background: url('images/cover-desk.jpg') center / cover;
    height: 60%; 
    text-align: center; 
    background-color: #212121; 
    vertical-align: middle; 
    
}



#cover-two { 
    color: #fff; 
    /*background: url('images/cover-desk.jpg') center / cover;*/
    height: 60%; 
    text-align: center; 
    background-color: #212121; 
    vertical-align: middle; 
    
}


#cover-three { 
    color: #fff; 
    /*background: url('images/cover-desk.jpg') center / cover;*/
    height: 60%; 
    text-align: center; 
    background-color: #212121; 
    vertical-align: middle; 
    
}



#cover-four { 
    color: #fff; 
    /*background: url('images/cover-desk.jpg') center / cover;*/
    height: 60%; 
    text-align: center; 
    background-color: #212121; 
    vertical-align: middle; 
    
}



#cover-five { 
    color: #fff; 
    /*background: url('images/cover-desk.jpg') center / cover;*/
    height: 60%; 
    text-align: center; 
    background-color: #212121; 
    vertical-align: middle; 
    
}







